---
import Layout from "../layouts/Layout.astro";
import LinkCard from "../components/LinkCard.astro";
---

<Layout
	title="HackMyCareer.lol"
	description="Your one-stop solution for optimizing your job search."
>
	<h1 class="text-5xl font-bold leading-none text-center my-8">
		Welcome to <span class="text-gradient">HackMyCareer.lol</span>
	</h1>
	<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
		<!-- <LinkCard
			href="/resume-optimizer/"
			title="Resume Optimizer"
			snippet="Optimize your resume to stand out and get noticed by recruiters."
		/> -->
		<LinkCard
			href="/human-review/"
			title="Expert Human Review"
			snippet="Get a 30min personalized review of your resume resume + LinkedIn with two follow-up emails."
			rel="me"
		/>
		<!-- <LinkCard
			href="/linkedin-booster/"
			title="LinkedIn Booster"
			snippet="Enhance your LinkedIn profile to attract more job opportunities."
		/> -->
		<LinkCard
			href="/career-planning/"
			title="Career Strategy Session"
			snippet="A 60min video call where we will craft a career plan (Or ask me whatever you want!)"
			rel="author"
		/>
		<LinkCard
			href="/mock-interview/"
			title="Mock Technical Interview"
			snippet="Get ready for your next technical interview with mock interview sessions and tailored feedback."
		/>
		<LinkCard
		href="/cover-letter-builder/"
		title="Cover Letter Builder"
		snippet="Create a cover letter that will make you stand out from the crowd."
		/>

	</ul>
</Layout>
