---
import Layout from "../layouts/Layout.astro";
import LinkCard from "../components/LinkCard.astro";
---

<Layout
	title="HackMyCareer.lol"
	description="Your one-stop solution for optimizing your job search."
>
	<h1 class="text-5xl font-bold leading-none text-center my-8">
		Welcome to <span class="text-gradient">HackMyCareer.lol</span>
	</h1>
	<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
		<LinkCard
			href="/linkedin-review/"
			title="Expert LinkedIn Review"
			snippet="Get a 30 minute personalized review of your resume + LinkedIn with two follow-up emails."
			rel="me"
		/>
		<LinkCard
			href="/career-planning/"
			title="Career Strategy Session"
			snippet="A 60 minute video call where we will craft a career plan (Or ask me whatever you want!)"
			rel="author"
		/>
		<LinkCard
			href="/mock-interview/"
			title="Mock Technical Interview"
			snippet="Get ready for your next technical interview with a 30 minute mock interview session and one follow-up email with detailed feedback."
		/>
		<LinkCard
		href="/cover-letter-builder/"
		title="Cover Letter Builder"
		snippet="Create a cover letter that will make you stand out from the crowd."
		/>
		<LinkCard
		href="/linkedin-query-builder/"
		title="LinkedIn Query Builder"
		snippet="Optimize your LinkedIn job search with a custom query builder."
		/>

	</ul>
</Layout>
